## Python Final Project
### Kartik, Sahil and Manisha

In [1]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests

**Loading COVID19 datasets**

In [9]:
confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"

death_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

cases = pd.read_csv(confirmed_cases_url)
deaths = pd.read_csv(death_cases_url)

In [10]:
cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [11]:
deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4057,4057,4057,4057,4057,4057,4057,4057,4057,4057
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5663,5668,5668,5668,5668,5668,5668,5668,5671,5671

In [6]:
deaths['Province/State'].isna().sum(), cases['Province/State'].isna().sum()

(198, 198)

The ``Province/State`` column does not look very good, with 198 ``NaN`` values out of 289, in both of the dataframes. However, we can not remove those rows altogether as they might be very useful for more specific further analysis.
</b>
Let us now have a bigger picture of the dataset by aggregating deaths and cases over all countries.

In [7]:
global_summed = pd.DataFrame([cases.iloc[:,4: ].sum(axis=0), deaths.iloc[:,4: ].sum(axis=0)], index=['cases', 'deaths'])
global_summed

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
cases,557,657,944,1437,2120,2929,5580,6169,8237,9927,...,675322238,675542852,675731911,675914580,675968775,676024901,676082941,676213378,676392824,676570149
deaths,17,18,26,42,56,82,131,133,172,214,...,6872682,6874463,6876031,6877325,6877601,6877749,6878115,6879038,6880483,6881802

The dataset is in what is called the "wide" form, let us tidy it up a little for better analysis.

In [8]:
covid = global_summed.transpose()
covid.index = pd.to_datetime(covid.index)
covid

                cases   deaths
2020-01-22        557       17
2020-01-23        657       18
2020-01-24        944       26
2020-01-25       1437       42
2020-01-26       2120       56
...               ...      ...
2023-03-05  676024901  6877749
2023-03-06  676082941  6878115
2023-03-07  676213378  6879038
2023-03-08  676392824  6880483
2023-03-09  676570149  6881802

[1143 rows x 2 columns]

The dataset looks pretty apt, although minor cleaning might be required which we will carry out once the complete data has been extracted.

**Loading Stocks datasets**

Further, we will extract stock market prices for each of these dates, so as to analyse COVID19's effect on these prices. We use the following 5 stock indices for the categories listed in question.
1. Overall American Market: **NASDAQ**
2. Overall Canadian Market: **Toronto Stock Exchange**
3. Travel Sector: **AirBNB** (AlphaVantage did not seem to have an overall index for this sector, so we are using AirBNB for reference)
4. Real Estate Sector: **MSCI U.S. REIT Index**
5. Precious Metals: **S&P GSCI**